# Node modules
node_modules/

# Log files
*.log

# Environment files
.env
*.local

# Operating system files
.DS_Store

# npm package lock file (optional)
package-lock.json

# IDE or editor folders (e.g., VS Code, Sublime Text)
.vscode/
.idea/
.vercel

uploads